name: documentation

on:
  push:
    branches:
      - master
    paths:
    - wiki/docs/**

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install "jupyter-book<2" sphinx-book-theme
      - name: Build docs
        run: |
          jupyter-book build wiki/docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: wiki/docs/_build/html
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
